@import url("https://fonts.googleapis.com/css2?family=Playball&family=Tangerine:wght@400;700&display=swap");

:root {
  --parchment-clr: #fcf5e5;
  --parchment-clr-dark: #f4dba0;
  --black-clr: #1c1c1c;
  --grey-clr: #808a9f;
  --green-clr: #6c7d47;
}

body {
  background: var(--parchment-clr);
  font-family: "Playball", sans-serif;
  font-size: 1.6rem;
}

#text {
  background: var(--parchment-clr);
  color: var(--green-clr);
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 900px;
  background: var(--parchment-clr-dark);
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid var(--parchment-clr);
  padding: 5px;
  color: var(--green-clr);
}

#monsterStats {
  display: none;
  border: 1px solid var(--black-clr);
  padding: 5px;
  color: #ffffff;
  background-color: var(--green-clr);
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  font-family: "Playball", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: #6c7d47;
  border: 3px solid #6c7d47;
  background-image: linear-gradient(#9dba7c, #6c7d47);
}

#img {
  max-height: 500px;
}

img {
  height: auto;
  max-width: 100%;
}
